include layout_header
h1 !{web_title}
br
h2 Upload Photos
div(class='page')
  if page === 'upload-form'
    form(action='' method='POST' enctype='multipart/form-data')
      label(id='select-photos-label') Select Photos
        input(type='file' id='upload-files' accept='image/*' name='photos' multiple onchange='filesChange();')
      input(type='submit' id='upload-photos-button' value='No Photos Selected' disabled)
    a(href=`.${route_gallery}`) Visit the gallery
  else if page === 'upload-successful'
      h3 Thank you!
      br
      p.
        Your photos have been uploaded successfully
      a(href=`.${route_gallery}`) Visit the gallery
      br
      a(href=`.${route_upload}`) Upload more photos
  else
    form(action='' method='GET' enctype='multipart/form-data')
      label(for='p')
        | Enter Passcode
      input(type='text' placeholder='passcode' name='p')
      input(type='submit' value='Login')
    a(href=`.${route_gallery}`) Visit the gallery
script.
  function filesChange() {
    if(document.getElementById('upload-files').files.length>0) {
      document.getElementById('upload-photos-button').disabled = false;
      document.getElementById('upload-photos-button').value = 'Upload ' + ((document.getElementById('upload-files').files.length>1) ? document.getElementById('upload-files').files.length + ' Photos' : 'Photo');
    } else {
      document.getElementById('upload-photos-button').value = 'No Photos Selected';
      document.getElementById('upload-photos-button').disabled = true;
    }
  }
include layout_signature
include layout_footer